@keyframes scan {
    0% {
        top: 0%;
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0.8;
    }
}

.animate-scan {
    animation: scan 2.5s ease-in-out infinite alternate;
}